{% extends 'base.html' %}

{% block title %} Listado de Editores {% endblock %}

{% block content %}
    <h1>Listado de Editores</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Domicilio</td>
                <td>Ciudad</td>
                <td>Estado</td>
                <td>País</td>
                <td>Website</td>
            </tr>
        </thead>

        <tbody>
            {% if editores %}
                {% for editor in editores %}
                    <tr>
                        <td>{{ editor.id }}</td>
                        <td>{{ editor.nombre }}</td>
                        <td>{{ editor.domicilio }}</td>
                        <td>{{ editor.ciudad }}</td>
                        <td>{{ editor.estado }}</td>
                        <td>{{ editor.pais }}</td>
                        <td>{{ editor.website }}</td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'ver_editor' editor.id %}" style="margin: 1px;"> Ver (view) </a>
                            <a class="btn btn-primary" href="{% url 'editar_editor' editor.id %}" style="margin: 1px;"> Editar (view) </a>
                            <a class="btn btn-danger" href="{% url 'eliminar_editor' editor.id %}" style="margin: 1px;"> Eliminar (view)</a>
                            <br>
                            <a class="btn btn-warning" href="{% url 'ver_class_editor' editor.id %}" style="margin: 1px;"> Ver (class) </a>
                            <a class="btn btn-primary" href="{% url 'editar_class_editor' editor.id %}" style="margin: 1px;"> Editar (class) </a>
                            <a class="btn btn-danger" href="{% url 'eliminar_class_editor' editor.id %}" style="margin: 1px;"> Eliminar (class)</a>

                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <h1>No hay libros registrados</h1>
            {% endif %}

        </tbody>
    </table>
{% endblock %}